.login-card {
  max-width: 350px;
  padding: 10px 40px;
  background-color: #F7F7F7;
  margin: 0 auto!important;
  margin-top: 85px!important;
  border: 1px solid grey;
  border-radius: 8px;
  width: 370px;
  height: 400px;
  padding: 22px;
  color: rgb(0,0,0);
}
.login-card .profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
}

.login-card .profile-name-card {
  color: rgb(183,38,28);
  font-size: 17px;
  height: 55px;
  width: 308px;
  padding: 0px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}
.login-card .form-signin input[type=email], .login-card .form-signin button {  
  height: 44px;
  font-size: 16px;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.login-card .form-signin .form-control:focus {
  border-color: rgb(0, 0, 0);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05),0 0 8px rgb(0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05),0 0 8px rgb(0, 0, 0);
}

.login-card .btn.btn-signin {
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  background: rgb(0, 0, 0);
  border-radius: 3px;
  border: none;
  transition: all 0.218s;
  padding: 0;
}

.login-card .forgot-password {
  color: rgb(0, 0, 0);
}

.login-card .forgot-password:hover, .login-card .forgot-password:active, .login-card .forgot-password:focus {
  color: rgb(7, 7, 7);
}

